
@{
    ViewBag.Title = "GetAccount";
}

<h2>Get Account Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RegisterCustomer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Account Number </label>
            <div class="col-md-10">
                <input name="accountNumber" type="text" value="" required/>
            </div>
        </div>

        <div class="form-group">
            <label>Sort Code</label>
            <div class="col-md-10">
                <input name="sortCode" type="text" value="" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

