@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="screen">
    <h2>PLEASE SELECT AN ACTION</h2>

    <table style="width: 100%; margin-top: 85px;">
        <tr>
            <td style="padding: 5px">
                @using (Html.BeginForm("ViewBalance", "Home", FormMethod.Post))
                {
                    <input name="AccountNumber" value="12345678" hidden />
                    <input name="Sortcode" value="445566" hidden />

                    <div class="main-option">
                        <input type="submit" class="linkButton" value="VIEW BALANCE" />
                    </div>
                }
            </td>
            <td style="padding: 5px;">
                <a href="/Home/WithdrawFunds">
                    <div class="main-option">
                        WITHDRAW CASH
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px">
                <a href="/Home/ViewStatement">
                    <div class="main-option">
                        VIEW STATEMENT
                    </div>
                </a>
            </td>
            <td style="padding: 5px">
                <a href="">
                    <div class="main-option">
                        PIN SERVICES
                    </div>
                </a>
            </td>
        </tr>
    </table>
</div>