
@{
    ViewBag.Title = "Withdraw";
}

<h2>Withdraw</h2>

<p>Please choose the amount you wish to withdraw</p>

<table>
    <tr>
        <td>£10</td>
        <td>£50</td>
    </tr>
    <tr>
        <td>£20</td>
        <td>£80</td>
    </tr>
    <tr>
        <td>£30</td>
        <td>£100</td>
    </tr>
    <tr>
        <td>£40</td>
        <td>Enter amount</td>
    </tr>
</table>

